.content{
    width: 70%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    text-align: start;
}

h1{
    font-size: 3em;
}

#pathway{
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
}


.grid{
    display: grid;
    margin-top: 5%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
    width: 100%;
    align-items: end;
}

.grid img{
    width: 100%;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

.pic{
    position: relative;
    z-index: -1;
}

.pic a{
    text-decoration: underline;
    position: absolute;
    padding: 1em;
    bottom: 50px;
    background-color: #ffffffaa;
    text-align: center;
    left: 0px;
    width: 100%;
    box-shadow: 0px -13px 33px -16px #000000;
    box-shadow: 0px 13px 33px -16px #000000;
}

@media (max-width: 426px) {
    .grid{
        grid-template-columns: 1fr;
    }
}
